.footer {
    background-color: $footer-background;
    font-family: $body-font-style;
    z-index: 1;
    &-logo {
        padding: 180px 20px 20px 20px;
    }
 
    &-text {
        color: $white;
        padding: 0 10px;
        display: flex;
        width: 80vw;
        margin: 10px auto;
        .location-img {
            width: 15px;   
            height: 17px; 
            padding-top: 5px;       
        }
        .footer-line {
            padding-left: 10px;
            width: 59vw;
        }
    }
    &-contact {
        color: $white;
        margin: 10px auto;
        width: 80vw;
        font-size: 13px;
        img {
            padding-right: 10px;
        }
    }
    &-email {
        color: $white;
        margin: 10px auto;
        width: 80vw;
        font-size: 13px;
        img {
            padding-right: 10px;
        }
    }

    
    &-nav {
        ul {
            padding: 25px 0;
            .footer-nav-item {
                padding: 10px 30px;
                .footer-nav-link {
                    color: $white;
                    font-size: 15px;
                }
            }
        }
    }
    &-social-media {
        width: 180px;
        margin: auto;
        i {
            color: $white;
            font-size: 16px;
            border: 1px solid white;
            padding: 10px;
            border-radius: 50%;
            margin: 30px 10px;
            &:first-child {
                padding: 10px 13px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .footer {
        padding: 150px 50px 0 50px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        .footer-img-text {
            width: 400px;
            .footer-logo {
                padding: 10px;
            }
            .footer-text {
                width: 400px;
                margin: 5px;
                .location-img {
                }
                .footer-line {
                    width: 350px;
                }
            }
        }
        .footer-contact-email {
            width: 180px;
            padding-top: 70px;
            .footer-contact {
                width: 180px;
            }
            .footer-email {
                width: 180px;
            }
        }
        .footer-nav {
            display: flex;
            padding-top: 70px;
            ul{
                padding: 0;
                .footer-nav-item {
                    .footer-nav-link {}
                }
            }
            ul {
                padding: 0;
                .footer-nav-item {
                    .footer-nav-link {}
                }
            }
        }
        .footer-social-media {
            height: 290px;
            padding-top: 70px;
            i {
                margin-top: 1px;
            }
        }
    }
}