.footer {
    background-color: $footer-background;
    font-family: $body-font-style;
    z-index: 1;
    &-logo {
        padding: 180px 20px 20px 20px;
    }
 
    &-text {
        color: $white;
        padding: 0 10px;
        display: flex;
        width: 80vw;
        margin: 10px auto;
        .location-img {
            width: 15px;   
            height: 17px; 
            padding-top: 5px;       
        }
        .footer-line {
            padding-left: 10px;
            width: 59vw;
        }
    }
    &-contact {
        color: $white;
        margin: 10px auto;
        width: 80vw;
        font-size: 13px;
        img {
            padding-right: 10px;
        }
    }
    &-email {
        color: $white;
        margin: 10px auto;
        width: 80vw;
        font-size: 13px;
        img {
            padding-right: 10px;
        }
    }

    
    &-nav {
        ul {
            padding: 25px 0;
            .footer-nav-item {
                padding: 10px 30px;
                .footer-nav-link {
                    color: $white;
                    font-size: 15px;
                }
            }
        }
    }
    &-social-media {
        width: 180px;
        margin: auto;
        i {
            color: $white;
            font-size: 16px;
            border: 1px solid white;
            padding: 10px;
            border-radius: 50%;
            margin: 30px 10px;
            &:first-child {
                padding: 10px 13px;
            }
        }
    }
}