@import './global';
.navbar {
    @include flex(row , space-between , center) ;
    padding: 30px 20px;
    font-family: $headings-font-style;
    &-brand {
        text-decoration: none;
        img {
            width: 100px;
        }
    }
    nav {
        .navbar-nav {
            list-style: none;
            display: flex;
            align-items: center;
            .nav-item {
                .nav-link {
                    text-decoration: none;
                    color: $white;
                    padding: 0 10px;
                    font-size: 12px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .navbar {
        padding: 40px 50px
    }
}

